
@{
    ViewData["Title"] = "Promotion Engine";
}


<div class="form-group">
    <h3>Welcome to Promotion Engine</h3>


    <label>Items:</label>
    <select name="item" id="Sku" class="form-control col-2">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    <br/>

    <button type="button" id="addingItemToCartID">Add To Cart</button>
    <button type="button" id="totalID">Total Cart Value</button>
    <button type="button" id="ccID">Clear Cart</button>
        
</div>

